{% extends 'base.html' %}
{% load static %}
{% block title %}Роботы{% endblock title %}
{% block content %}
    <script src="{% static 'robots/js/update.js' %}"></script>
    <div class="container-fluid">
{#        <form action="{% url 'robot_create' %}" target="_self">#}
{#            <button style="font-size: large;" class="btn btn-success">Добавить робота</button>#}
{#        </form>#}
        <h3><a href="{% url 'robot_create' %} " {% comment %}onclick="return showAddPopup(this);"{% endcomment %}>Добавить робота</a></h3>
        <div class="pt-4">
            <input class="form-control" type="text" placeholder="Поиск" id="search-text" onkeyup="tableSearch()">
        </div>
        <table id="info-table" class="table table-robot-list table-sort">
            <thead class="thead-default">
            <tr>
                <th>Имя</th>
                <th>Серийный номер</th>
                <th>Модель</th>
                <th>Клиент</th>
                <th>Интегратор</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for robot in object_list %}
                <tr>
                    <th><a href="{% url 'robot_read' robot.pk %}">{{ robot.name }}</a></th>
                    <th>{{ robot.serial_number }}</th>
                    <th>{{ robot.model_id }}</th>
                    <th>{{ robot.client_id }}</th>
                    <th>
                        {% if robot.integrator_id != None %}
                            {{ robot.integrator_id }}
                        {% endif %}
                    </th>
                    <th>
                        <a href="{% url 'robot_update' robot.pk %}">Редактировать</a> |
                        <a href="{% url 'robot_delete' robot.pk %}">Удалить</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <hr>
        <hr>
        <h2>Редактирование моделей</h2>
        <h4><a href="{% url 'arm_list' %}">Модели роботов</a></h4>
        <h4><a href="{% url 'controller_list' %}">Контроллеры</a></h4>
        <h4><a href="{% url 'client_list' %}">Клиенты</a></h4>
        <h4><a href="{% url 'integrator_list' %}">Интеграторы</a></h4>
        <h4><a href="{% url 'location_list' %}">Локации</a></h4>
    </div>
    <script>
        window.onload = function () {
            sessionStorage.clear();
        };
    </script>
{% endblock content %}

