{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load my_filters %}
{% block title %}Табель{% endblock title %}
{% block content %}
    {% for workingday in workingday_list %}
        {% if request.user.id == workingday.employee_id %}
            <h3>{{ workingday.date }}</h3>
            <h3>{{ workingday.employee_id }}</h3>
            <h3>Visits</h3>
            {% for workingdaypart in view.all_workingdayparts %}
                {% if workingdaypart.workingday_id_id == workingday.pk %}
                    <p>{{ workingdaypart }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <table class="table">
        <thead class="thead-default">
        <tr>
            <th style="width: 130px">Дата:</th>
            <th style="text-align: center; vertical-align: middle;" colspan="{{ view.all_workingdayparts|length }}">Время</th>
        </tr>
        </thead>
        <tbody>
        {% for workingday in workingday_list %}
            <tr>
                <th>{{ workingday.date }}</th>
                {% for workingdaypart in workingday.get_workingdayparts %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}
