{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Модели{% endblock title %}
{% block content %}
    <script src="{% static 'robots/js/update.js' %}"></script>
    <div class="container">
        <h3><a href="{% url 'controller_create' %} " onclick="return showAddPopup(this);">Добавить</a></h3>
        <table id="info-table" class="table table-robot-list table-sort">
            <thead class="thead-default">
            <tr>
                <th style="font-size: large">Контроллеры:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for controller in object_list %}
                <tr>
                    <th>{{ controller }}</th>
                    <th>
                        <a href="{% url 'controller_update' controller.pk %} " onclick="return showAddPopup(this);">Изменить</a>
                        | <a href="{% url 'controller_delete' controller.pk %} " onclick="return showAddPopup(this);">Удалить</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


