{% extends 'base.html' %}
{% load static %}
{% block title %}Robot list{% endblock title %}
{% block content %}
    <div class="container" style="-moz-hyphens: auto; -webkit-hyphens: auto; -ms-hyphens: auto;">
        <table class="button-forms">
            <tr>
                <td>
                    <form class="pt-1" action="{% url 'home' %}" target="_self">
                        <button style="font-size: large;" class="btn btn-primary">Назад</button>
                    </form>
                </td>
                <td>
                    <form class="pt-1" action="{% url 'robot_update' robot.pk %}" target="_self">
                        <button style="font-size: large;" class="btn btn-success">Изменить</button>
                    </form>
                </td>
                <td>
                    <form class="pt-1" action="{% url 'robot_delete' robot.pk %}" target="_self">
                        <button style="font-size: large;" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        </table>
        {% comment %}<h1 class="pt-1">Информация о роботе:</h1>
        <table class="table" style="font-size: large;">
            <thead class="thead-default">
            <tr>
                <th>Имя</th>
                <th>Серийный номер</th>
                <th>Модель</th>
                <th>Клиент</th>
                <th>Контроллер</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><a href="{% url 'robot_read' robot.pk %}">{{ object.name }}</a></th>
                <th>{{ object.serial_number }}</th>
                <th>{{ object.model_id }}</th>
                <th>{{ object.client_id }}</th>
                <th>{{ object.controller_id }}</th>
            </tr>
            </tbody>
        </table>{% endcomment %}

        {#        <p style="font-size: large;">id: {{ object.id }}</p>#}
        <p><h5>Имя робота: {{ object.name }}</h5></p>
        <p><h5>Серийный номер: {{ object.serial_number }}</h5></p>
        <h5>Описание: {{ object.description }}</h5>
        <p><h5>Дата поставки: {{ object.shipping_date }}</h5></p>
        <p><h5>Дата создания объекта в базе: {{ object.creation_date }}</h5></p>
        <p><h5>Контроллер: {{ object.controller_id }}</h5></p>
        <p><h5>Модель: {{ object.model_id }}</h5></p>
        <p><h5>Клиент: {{ object.client_id }}</h5></p>
        <p><h5>Интегратор: {{ object.integrator_id }}</h5></p>
        <p style="font-size: large;"><a
                href="{% url 'home' %}media/{{ object.main_backup_file }}">Основная резервная копия</a></p>

        <h1>Обслуживания: <a style="font-size: 18pt;" href="{% url 'service_create' pk=robot.pk %}">Добавить</a></h1>
        {% for service in object.service_set.all %}
            <div class="card">
                <div class="card-header">
                    <span class="font-weight-bold">{{ service.date }}</span> &middot;
                    <span class="text-muted"> {{ service.days_from_service }}</span>
                </div>
                <div class="card-body">
                    {{ service.description }}
                    {% if service.report %}
                        <p class="lead"><a href="{% url 'home' %}media/{{ service.report }}">Отчёт</a></p>
                    {% endif %}
                </div>
                <div class="card-footer text-center text-muted">
                    <a href="{% url 'service_update' service.pk %}">Изменить</a> | <a href="{% url 'service_delete' service.pk %}">Удалить</a>
                </div>
            </div>
            <br/>
        {% endfor %}
        {% comment %}{% for service in object.service_set.all %}
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">{{ service.date }}</h1>
                    <p class="lead">Описание: {{ service.description }}</p>
                    {% if service.report %}
                        <p class="lead"><a href="{% url 'home' %}media/{{ service.report }}">Отчёт</a></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}{% endcomment %}
    </div>
{% endblock content %}