{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Модели{% endblock title %}
{% block content %}
    <script src="{% static 'robots/js/update.js' %}"></script>
    <div class="container">
        <form action="{% url 'arm_create' %}" target="_self">
            <button style="font-size: large;" class="btn btn-success">Добавить</button>
        </form>
        <table id="info-table" class="table table-robot-list table-sort">
            <thead class="thead-default">
            <tr>
                <th style="font-size: large">Модели:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for arm in object_list %}
                <tr>
                    <th>{{ arm }}</th>
                    <th>
                        <a href="{% url 'arm_update' arm.pk %} " onclick="return showAddPopup(this);">Изменить</a> | <a
                            href="{% url 'arm_delete' arm.pk %}" onclick="return showAddPopup(this);">Удалить</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


