{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Модели{% endblock title %}
{% block content %}
    <script src="{% static 'robots/js/update.js' %}"></script>
    <div class="container">
        <h3><a href="{% url 'location_create' %} " onclick="return showAddPopup(this);">Добавить</a></h3>
        <table id="info-table" class="table table-robot-list table-sort">
            <thead class="thead-default">
            <tr>
                <th style="font-size: large">Локации:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for location in object_list %}
                <tr>
                    <th>{{ location }}</th>
                    <th>
                        <a href="{% url 'location_update' location.pk %} "
                           onclick="return showAddPopup(this);">Изменить</a> | <a
                            href="{% url 'location_delete' location.pk %}"
                            onclick="return showAddPopup(this);">Удалить</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


