{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Модели{% endblock title %}
{% block content %}
    <div class="container">
        <table id="info-table" class="table table-robot-list table-sort">
            <thead class="thead-default">
            <tr>
                <th style="font-size: large">Локации:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for location in object_list %}
                <tr>
                    <th>{{ location }}</th>
                    <th>
                        <a href="{% url 'location_delete' location.pk %}">Удалить</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


