{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Изменить обслуживание{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="pt-2">Изменить обслуживание</h1>
        <form enctype="multipart/form-data" method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-success" type="submit">Изменить</button>
        </form>
    </div>
    <script>
        $('#id_date').datetimepicker({
            format: 'd.m.Y',
            timepicker: false,
        });
    </script>
{% endblock content %}