{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Добавить клиента{% endblock title %}
{% block content %}
    <script src="{% static 'robots/js/update.js' %}"></script>
    <div class="container">
        <h1>Добавить клиента</h1><br>
        <form enctype="multipart/form-data" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="name col-md-12">{{ form.name|as_crispy_field }}</div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-10">{{ form.location_id|as_crispy_field }}</div>
                <div class="col-md-2"><a href="{% url 'location_create' %}" onclick="return showAddPopup(this);">+</a>
                </div>
            </div>
            <div class="row">
                <div class="button col-md-12">
                    <button onclick=clearStorage() type="submit" class="btn btn-primary">Создать
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
